.sign {
    width: 200px;
    background-color: #B8B8FF;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: darkmagenta;
}