footer {
    color: darkcyan;
    height: 40px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    bottom: 0;
}